:root {
  --page-bg-primary: #151515;
  --page-bg-secondary: #202020;
  --page-text-primary: #FFFFFF;
  --series-winner: #FA824C;
  --series-loser: #B7B7B7;
  --tournament-header: #0F1970;
  --tournament-bg: #1C2CAC;
  --tournament-primary: #2E44FF;
  --series-header: #560F70;
  --series-bg: #782097;
  --series-primary: #911EAE;
  --match-winner: #04BB00;
  --match-loser: #BB0000;
  
  --default-border-radius: 13px;
  
  --font-size-large: 26px;
  --font-size-medium: 20px;
  --font-size-small: 18px 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: var(--page-text-primary);
  height: 100vh;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--page-text-primary)
}