.container {
  width: 100%;
  background-color: var(--tournament-primary);
  border-radius: var(--default-border-radius);
  display: flex;
}

.logo, .information, .actions {
  padding: 7px;
}

.logo {
  flex-basis: 20%;
}

.information {
  flex-basis: 47%;
}

.information > * {
  margin-bottom: 12px;
}

.information h1 {
  font-size: var(--font-size-large)
}

.information p {
  font-size: var(--font-size-medium)
}

.actions {
  flex-basis: 33%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}