.viewDetails {
  background-color: var(--page-bg-secondary);
  color: var(--page-text-primary);
  padding: 10px 15px;
  font-size: var(--font-size-small);
  border: none;
  cursor: pointer;
  border-radius: var(--default-border-radius);
  transition: 0.2s;
}

.viewDetails:hover {
  background-color: var(--page-text-primary);
  color: var(--page-bg-secondary)
}

.viewDetails span {
  margin-left: 5px;
}